#back-button{
  margin-bottom: 10px;
}

.mat-cell, .mat-footer-cell, .mat-row {
  font-size: 11px;
}

.mat-column-messageType {
  flex: 0 0 5% ;
  min-width: 120px ;
  justify-content: space-evenly;
}

.mat-column-typeName {
  flex: 0 0 5% ;
  min-width: 120px ;
  justify-content: space-evenly;
}

.mat-column-uniqueReqID {
  flex: 0 0 5% ;
  min-width: 200px ;
  justify-content: space-evenly;
}

.mat-column-timeStamp {
  flex: 0 0 5% ;
  min-width: 120px ;
  justify-content: space-evenly;
}

.mat-column-responseTime {
  flex: 0 0 5% ;
  min-width: 120px ;
  justify-content: space-evenly;
}

.mat-row{
  position: relative;
}

.mat-row-link{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

a:hover{
  background-color: rgba(35, 157, 238, 0.24);
}

.panel-heading {
  color: #333333;
  background-color: #c4c5c6;
  border-color: #646464;
}

.panel-body{
  background-color: #818181!important;
}

#specific-messages-table{
  max-height: 600px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.box{
  position: relative;
  top: 40%;
  width: 50%;
  left: 27%;
  height: 175px;
  background-color: darkgray;
  border-radius: 20px;
}

.box-header{
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.box-body{
  width: 100%;
  padding: 20px;
}

.box-footer{
  float: right;
  padding-right: 45%;
}

mat-header-row{
  z-index: 10!important;
}

.tables-scrollable {
  height: 400px;
  overflow: auto;
  /*display: inline-block;*/
  border: none;
  padding: 0px;
}
.tables-scrollable tbody {
  width: 100%;
  display: inline-table;
}
