<!--title-->
<div class="row">
  <div class="col-md-12">
    <div class="panel wd-panel dark-panel">
      <h2>SLA Messages</h2>
    </div>
  </div>
</div>

<div class="mat-elevation-z8" id="table-slamessage" *ngIf="!isLoading">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Unique Request ID Column -->
    <ng-container matColumnDef="unique_request_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Unique Request ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.unique_request_id}} </mat-cell>
    </ng-container>

    <!-- Channel Column -->
    <ng-container matColumnDef="channel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Channel </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.channel}} </mat-cell>
    </ng-container>

    <!-- Client IP Column -->
    <ng-container matColumnDef="client_ip">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Client IP </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client_ip}} </mat-cell>
    </ng-container>

    <!-- Comm.Ver Column -->
    <ng-container matColumnDef="comm_ver">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Comm.Ver </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.comm_ver}} </mat-cell>
    </ng-container>

    <!-- Response Time Column -->
    <ng-container matColumnDef="responseTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Response Time </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.responseTime}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.date}} </mat-cell>
    </ng-container>

    <!-- Login ID Column -->
    <ng-container matColumnDef="login_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Login ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.login_id}} </mat-cell>
    </ng-container>

    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.message}} </mat-cell>
    </ng-container>

    <!-- Message Type  Column -->
    <ng-container matColumnDef="message_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Message Type </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.message_type}} </mat-cell>
    </ng-container>

    <!-- Session ID Column -->
    <ng-container matColumnDef="session_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Session ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.session_id}} </mat-cell>
    </ng-container>

    <!-- Tenant Code Column -->
    <ng-container matColumnDef="tenantCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tenant Code </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tenantCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="header-channel">
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('channel')" placeholder="Filter">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="header-login-id">
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('login_id')" placeholder="Filter">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="header-message-type">
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('message_type')" placeholder="Filter">
        </mat-form-field>
      </th>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" id="header-row"></mat-header-row>
    <mat-header-row *matHeaderRowDef="['header-channel','header-login-id','header-message-type'];sticky:true;" id="header-filter-row" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[10,100,1000]" [length]="100"
                 [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>

<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</mat-card>

