.wd-panel{
  width: 100%;
  height: 100%;
}

#banner{
  height: 80px;
}

#bulk-container{
  padding-right: 0px;
  padding-left: 0px;
}
/*.stat{*/
  /*!*display: inline;*!*/
/*}*/

#dashboard-blocks{
  height: 100%;
}

#value-table{
  max-height: 405px;
}

.load-panel{
  padding-top: 15px;
  padding-bottom: 15px;
}

#CLOSED{
  background-color: #b33939;
}

#bottom-row{
  padding-bottom: 50px;
}

td.CONNECTED{
  color: rgba(30, 255, 17, 0.73) !important;
}

