<div class="row">
  <div class="col-sm-6">
    <div class="panel wd-panel" id="bulk-container">

      <div ng-hide="routesHistory == null" id="request-results-history" class="get-routes">

        <div class="mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="client">

              <mat-header-cell *matHeaderCellDef>
                Client
                <mat-form-field>
                  <input matInput  (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('client')" placeholder="Filter Client" >
                </mat-form-field>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.client}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nextNode">
              <mat-header-cell *matHeaderCellDef>
                Current Node
                <mat-form-field>
                  <input matInput  (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('nextNode')" placeholder="Filter Node" >
                </mat-form-field>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nextNode}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[8,15,50,100]"></mat-paginator>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div id="main-request" class="panel wd-panel">
          <form class="col-md-12 form-inline" >
            Client ID: <input class="form-control display-inline" type="text"  name="routeClientID" [(ngModel)]="routeClientID">
            <input type="submit" value="GET ROUTES" class="btn btn-primary"  (click)="getRoutes()">
          </form>
          <div *ngIf="!routesDetailHide" id="request-results" class="get-routes">
            <div>Client ID: {{routes.client}}</div>
            <div>Endpoints: {{routes.endPoints}}</div>
            <ul>
              <li *ngFor="let route of routes.routes | keyvalue">{{route.key}} => {{route.value}}</li>
            </ul>
            <div class="row" ng-repeat="(key, value) in routes.routes">
              <div>{{key}} , {{value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="main-request-history" class="panel wd-panel input-group">
          <div class="form-wrapper">
            <form ng-submit="getRoutesHistory()" class="col-md-12 form-inline" id="form-history">
              Client ID: <input class="form-control display-inline" type="text" >
              <input type="submit" value="GET HISTORY" class="btn btn-primary" style="float: right" >
            </form>
          </div>
          <div class="panel-collapse collapse in">
            <table class="wd-table">
              <thead>
              <tr>
                <th>Client</th>
                <th>Next Node</th>
              </tr>
              </thead>
              <tbody>
              <tr
                ng-repeat="record in clientRoutesAll | filter:search | filter: nodeFilter | orderBy : 'client' | orderBy: 'nextNode'">
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>

</div>

</div>
