<div class="row">
  <div class="col-sm-6">
    <div class="panel wd-panel" id="bulk-container">

      <div id="request-results-history" class="get-routes">

        <div class="mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort id="table01">
            <ng-container matColumnDef="client">

              <mat-header-cell *matHeaderCellDef>
                Client
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.client}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nextNode">
              <mat-header-cell *matHeaderCellDef>
                Current Node
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nextNode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="header-row-first-group">
              <th mat-header-cell *matHeaderCellDef
                  [attr.colspan]="2">
                <mat-form-field >
                  <input matInput  (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('client')" placeholder="Filter Client" >
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="header-row-second-group">
              <th mat-header-cell *matHeaderCellDef
                  [attr.colspan]="2">
                <mat-form-field>
                  <input matInput  (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('nextNode')" placeholder="Filter Node" >
                </mat-form-field>
              </th>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
            <mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-second-group'];sticky:true" id="filter-row"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10,15,50,100]"></mat-paginator>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div id="main-request" class="panel wd-panel">
          <form class="col-md-12 form-inline" >
            Client ID: <input class="form-control display-inline" type="text"  name="routeClientID" [(ngModel)]="routeClientID">
            <input type="submit" value="GET ROUTES" class="btn btn-primary"  (click)="getRoutes()">
          </form>
          <div *ngIf="!routesDetailHide" id="request-results" class="get-routes">
            <div>Client ID: {{routes.client}}</div>
            <div>Endpoints: {{routes.endPoints}}</div>
            <ul>
              <li *ngFor="let route of routes.routes | keyvalue">{{route.key}} => {{route.value}}</li>
            </ul>
            <div class="row" ng-repeat="(key, value) in routes.routes">
              <div>{{key}} , {{value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="main-request-history" class="panel wd-panel input-group">
          <div class="form-wrapper">
            <form class="col-md-12 form-inline" id="form-history">
              Client ID: <input class="form-control display-inline" type="text"  name="routeHistoryClientID" [(ngModel)]="routeHistoryClientID">
              <input type="submit" value="GET HISTORY" class="btn btn-primary" (click)= "getRoutesHistory()">
            </form>
          </div>
          <div class="get-routes" id="history-table" *ngIf="!routesHistoryDetailHide">

            <div class="mat-elevation-z8">

              <mat-table [dataSource]="dataSourceHistory" matSort id="table02">
                <ng-container matColumnDef="historyClient">

                  <mat-header-cell *matHeaderCellDef>
                    Client
                    <!--<mat-form-field>-->
                      <!--<input matInput  (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('client')" placeholder="Filter Client" >-->
                    <!--</mat-form-field>-->
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.historyClient}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="historyNextNode">
                  <mat-header-cell *matHeaderCellDef>
                    Node
                    <!--<mat-form-field>-->
                      <!--<input matInput  (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('nextNode')" placeholder="Filter Node" >-->
                    <!--</mat-form-field>-->
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.historyNextNode}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="updateTime">
                  <mat-header-cell *matHeaderCellDef>
                    Update Time
                    <!--<mat-form-field>-->
                    <!--<input matInput  (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('nextNode')" placeholder="Filter Node" >-->
                    <!--</mat-form-field>-->
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.updateTime}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsHistory;sticky:true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></mat-row>
              </mat-table>
              <!--<mat-paginator  [pageSizeOptions]="[8,15,25]"></mat-paginator>-->
            </div>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
            </mat-card>
          </div>
      </div>
    </div>
  </div>

</div>

</div>
