.wd-panel .wd-panel-heading {
  color: #fff;
  font-size: 17px;
  padding: 20px 15px 10px;
  text-align: left;
  background-color: #24272f;
}
.panel-filter {
  color: #fff;
  font-size: 17px;
  text-align: left;
  background-color: #24272f;
}

.wd-panel {
  background-color: #292a34;
  /* border: none; */
  height: 200px;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #7f8590;
}
#table01{
  max-height: 480px;
  overflow-y: auto;
}
#table02{
  max-height: 280px;
  overflow-y: auto;
}
#main-request{
  height: 175px;
}
#main-request-history {
  height: 385px;
}
#bulk-container{
  height: 575px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 30px;
  font-size: medium;
}
.form-inline > * {
  margin:0px 10px;
}

#request-results-history{
  width: 98%;
  align-items: center;
  padding-left: 2%;
  padding-top: 30px;
}

#form-history{
  height: 50px;
}

.form-wrapper{
  padding-bottom: 0px;
  height: 45px;
}

.mat-form-field{
  width: 120px;
  font-size: xx-small;
}

#history-table{
  width: 98%;
  padding-left: 12px;
}

th.mat-header-cell:first-of-type,th.mat-header-cell:last-of-type  {
  width: 280px;
  /*padding-top: 10px;*/
}
mat-header-row {
  min-height: 40px;
}

#filter-row{
  height: 20px;
}

mat-row {
  min-height: 38px;
}

#no-data-banner{
  margin-bottom: 150px;
}

