.round-time{
  font-size: medium;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  display: -webkit-box;
}

.data-container{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;

}

.default-time{
  display: -webkit-box;
  position: relative;
  float: left;
  padding: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

h4{
  padding-left: 25px;
}

ul {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#no-data{
  text-align: center;
  position: relative;
  left: 40%;
  padding: 30px;
}

#bulk-container{
  max-height: 550px;
  display: grid;
}

#mat-table-container{
  width: 80%;
}

#btn-panel{
  display: inline-grid;
}

.side-panel{
  width: 20%;
  padding-left: 4%;
  padding-top: 2%;
}

.mat-column-select{
  flex: 0 0 7% ;
  min-width: 20px ;
  justify-content: space-evenly;
}

.mat-column-serviceID{
  justify-content: space-evenly;
}
.mat-column-serviceName{
  justify-content: space-evenly;
}
.mat-column-roundTime{
  justify-content: space-evenly;
}

.table-btn{
 margin: 20px;
}

#status-banner{
  color: #ff0511;
}
.tables-scrollable {
  height: 400px;
  overflow: auto;
  /*display: inline-block;*/
  border: none;
  padding: 0px;
}
.tables-scrollable tbody {
  width: 100%;
  display: inline-table;
}

.scale-up-top {
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card{
  height: 500px;
}

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

