.round-time{
  font-size: medium;
}

.container{
  width: 80%;
  height: 80%;
  background-color: #9d9d9d;
  margin-bottom: 50px;

}

.default-time{
  position: relative;
  float: left;
  padding: 30px;
}

.round-time{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
}

h4{
  padding-left: 25px;
}

ul {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
li:before {
  content: "• ";
}
