/*!* The Overlay (background) *!*/
/*#login-popup {*/
  /*!* Height & width depends on how you want to reveal the overlay (see JS below) *!*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*position: fixed; !* Stay in place *!*/
  /*z-index: 1; !* Sit on top *!*/
  /*left: 0;*/
  /*top: 0;*/
  /*background-color: rgb(0,0,0); !* Black fallback color *!*/
  /*background-color: rgba(0,0,0, 0.9); !* Black w/opacity *!*/
  /*overflow-x: hidden; !* Disable horizontal scroll *!*/
  /*transition: 0.5s; !* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) *!*/
/*}*/




/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  width: 100%;
}

.container {
  padding: 16px;
  background-color: rgba(51, 50, 52, 0.4);
  height: 90%;
  width: 90%;
}

#login-box{
  /*padding-top: 150px;*/
  /*padding-bottom: 150px;*/
  position: relative;
  top: 30%;
  left: 0%;
  height: 250px;
  background-color: darkgrey;
  padding-right: 0px;
  padding-left: 0px;
}

.form-box{
  padding-left: 20px;
  padding-right: 20px;
}

h3{
  padding-top: 20px;
}

#form-block{
  padding-top: 15px;
}

#login-popup{
  height: 100%;
}

#close-button{
  float: right;
  background: url("../../../assets/img/close_black.png");
  height: 22px;
  width: 22px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
