<div class="d-flex" id="header-box">

  <div class="container-fluid" >
    <div class="row" id="navbar-row">
      <div class="col-12">
        <app-header-nav-bar></app-header-nav-bar>
      </div>
    </div>
    <div class="row" id="nav-space"></div>
    <div class="row" id="data-content">
      <div class="col-side-custom">
        <!-- Sidebar -->
        <app-side-nav-bar></app-side-nav-bar>
        <!-- /#sidebar-wrapper -->
      </div>
      <div class="col-content-custom">
        <!-- Page Content -->

        <div id="page-content-wrapper">

          <div class="container-fluid">

            <div class="core">
              <router-outlet></router-outlet>
            </div>
          </div>
      </div>
        <!-- /#page-content-wrapper -->
    </div>

  </div>

</div>
<!-- /#wrapper -->
</div>
