.d-flex{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#header-box{
  padding: 0px;
}

#navbar-row{
  background-color: rgba(35, 35, 35, 0.84);
}

.core{
  background-color: transparent;
}

#data-content{
  background-color: rgba(51, 50, 52, 0.96);
  height: 100%;
}

/*#page-content-wrapper{*/
  /*top: 100px;*/
/*}*/

#nav-space{
  height: 40px;
}

.col-side-custom{
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

.col-content-custom {
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}

#page-content-wrapper{
  padding-top: 15px;
  padding-right: 5px;
}
