<div class="popup" >
  <div class="row">
    <div class="popup-box slide-bottom shadow">
      <form class="session-detalis">
        <p><strong>Client Channel: </strong>{{clientChannel}} </p>
        <p><strong>Client IP: </strong>{{clientIP}} </p>
        <p><strong>Login ID: </strong>{{loginID}}</p>
        <p><strong>Up Time: </strong> {{upTime}}</p>
        <p><strong>Session ID: </strong>{{sessionID }}</p>
        <p><strong>Start Time: </strong>{{startTime}}</p>
        <!--<p *ngIf="dataArrived">arrived data:{{this.currentSessionData}}</p>-->
      </form>
      <div *ngIf="chart3" id="chart-container">
        <canvas *ngIf="!isGraphDataNull" id="canvas3">{{chart3}}</canvas>
        <div *ngIf="isGraphDataNull" class="slide-bottom" id="no-data-alert"><p><strong>No Data Available</strong></p></div>
      </div>
      <div class="button-container" *ngIf="hideViewAllButton">
        <button mat-raised-button class="btn btn-success" id="view-all-button" (click)="viewAllMessages()" >View all messages</button>
      </div>
      <button mat-raised-button class="btn btn-danger" id="popup-close-button" (click)="sessionDetailClose()" >Close</button>
    </div>
  </div>
</div>


